/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lobster&family=Poppins:wght@400;500;700&display=swap');

/* header style  */
header {

    background: #161616;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 50px 140px;
    border-radius: 30px;
}



.top-text {
    width: 531px;
    height: 424px;
    margin-left: 106px;
    margin-top: 111px;
    margin-bottom: 111px;
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;


}

.watch-live {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 25px;
    gap: 10px;
    background: #DD0000;
    border-radius: 5px;
    width: fit-content;

}

.watch-live a {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.title {
    font-weight: 700;
    font-size: 4em;
    line-height: 80px;
}

.title-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.top-banner {
    margin-top: 33px;
    margin-right: 79px;
    margin-bottom: 0;
}

.top-banner img {
    width: 581px;
    height: 613px;

}

/* body & main  */
body {
    font-family: 'Poppins';
    font-style: normal;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* menu & blog styles */
.container {
    display: flex;
    margin: 130px 140px;
}

.menu {
    display: grid;
    grid-template-columns: max-content;
    background: #161616;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 952px;
    font-weight: 500;
    font-size: 20px;

}

/* .menu {
    background: #DD0000;
} */

.menu a {
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 17px 39px;
    margin: 30px 30px 0;
    color: inherit;
}

/* Blog styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.transfer {
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 16px 4px 16px;
    font-weight: 500;
    font-size: 16px;
}

.blog-details {
    margin: 20px;
}


.blog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 149px;
}

/* footer  */
footer {
    display: flex;
    flex-direction: column;
    background: #161616;
    align-items: center;
    color: #FFFFFF;
    padding-top: 130px;
}


hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 0;
    width: 1320px;
}

nav {

    margin-top: 50px;
    margin-left: 351px;
    margin-right: 351px;
    margin-bottom: 130px;
    justify-content: space-between;
    text-decoration: none;
    justify-content: space-between;


}

nav a {
    text-decoration: none;

}


.bottom-nav li {
    list-style: none;
    color: #B9B9B9;
    display: inline-block;
    margin: 0;
    margin-right: 25px;
}

/* upcoming matches styles */
/* matches  */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: auto;


}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 24px;
    padding-top: 53px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 53px;
}

.vs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* media quaries */

/* mobile devices */
@media only screen and (max-width: 688px) {
    header {
        display: block;
        grid-template-columns: 1fr;
        margin: 0;
    }

    .top-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-bottom: 111px;
        text-align: center;
    }

    .top-banner img {
        margin-left: 40px;
        width: fit-content;
        height: fit-content;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .menu {
        justify-content: center;
        margin-bottom: 20px;
        background: none;
    }

    .menu a {
        display: flex;
        justify-content: center;
        border: 1px solid gray;
    }

    .blogs {

        grid-template-columns: repeat(1, 1fr);

    }
}

/* tablet devices */

@media only screen and (min-width:689px) and (max-width:992px) {
    header {
        width: fit-content;
        margin: 0;
    }



    .top-text {
        width: 304px;
    }

    .title {
        font-size: 40px;
    }

    .top-banner img {
        width: 323px;

    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        background: none;
    }

    .menu a {

        flex-direction: row;
        justify-content: center;
        border: 1px solid gray;
    }

    .blogs {

        grid-template-columns: repeat(2, 1fr);
        padding-right: 24px;

    }

    .blog-banner img {
        width: 100%;
    }

    nav {
        margin: 0;
        margin-left: 104px;
        margin-bottom: 20px;
    }
}